<h1>Add a Student</h1>

<%= render('layouts/errors', :object => @student) %>

<form action="/students" method="post">
  <%= render('forms') %>
  <button>Add Student</button>
</form>

<div class="footer">
  <br><a href="/teachers/new">Add a new teacher</a>
  <br><a href="/courses/new">Add a new course</a>
  <br><a href="/courses">See all courses</a>
  <br><a href="/students">See all students</a>
  <br><a href="/teachers">Go Home</a>
</div>
