<h1><%= @student.name %></h1>

<p><%= @student.name %> has these classes:</p>
<ul>
  <% @courses.each do |course| %>
    <li><a href="courses/<%= course.id %>"><%= course.name %></li>
  <% end %>
</ul>

<div class="footer">
  <a href="/teachers/new">Add a new teacher</a>
   - <a href="/courses/new">Add a new course</a>
   - <a href="/students/new">Add a new student</a>
   - <a href="/courses">See all courses</a>
   - <a href="/students">See all students</a>
   - <a href="/teachers">Go Home</a>
</div>
