<h1><%= @course.name %></h1>

<% @teachers.each do |teacher| %>
  <% if teacher.id == @course.teacher_id %>
    <p>Taught by <a href='/teachers/<%= teacher.id %>'><%= teacher.name %></a><p>
  <% end %>
<% end %>


<div class="footer">
  <br><a href="/teachers/new">Add a new teacher</a>
  <br><a href="/courses/new">Add a new course</a>
  <br><a href="/courses">See all courses</a>
  <br><a href="/students">See all students</a>
  <br><a href="/teachers">Go Home</a>
</div>
