h1 {
  text-align:center;
  color: #18E861;
}

ul {
  list-style-type: none
}

ul ul {
  list-style-type: circle;
}

p {
  margin-left: 50px;
  padding-left: 50px;
}

a:hover {
  text-decoration: underline;
  color:#67DF89;
}

button {
  border-radius: 5px;
  background-color: #18ACE8;
}

.footer {
  padding: 10px;
  padding-top: 100px;
  margin:10px;
  text-align: center;
}

form {
  padding: 10px;
  margin: 10px;

}
